.footer-main{
    background-color: #1A5667;
    padding: 30px 15px
}
    .footer-copyright{
        font-size: 13px;
        font-weight: 300;
        line-height: 29px;
        margin-top: 10px;
    }
    .footer-address{
    
        font-size: 13px;
        font-weight: 300;
        line-height: 29px;
        text-align: right;
        margin-top: 10px;
    
    }

    .footer-connect{
    
        font-size: 13px;
        font-weight: 300;
        line-height: 29px;
        text-align: right;
        margin-top: 10px;
    
    }

    
    
    
  






 